<div

class="card"

appHighlight="lightblue"

[ngClass]="cardClasses"

[ngStyle]="{
'border-left':'8px solid ' + borderColor
}">

<h3>{{course.name}}</h3>

<p><strong>ID:</strong> {{course.id}}</p>

<p><strong>Code:</strong> {{course.code}}</p>

<p>

<strong>Credits:</strong>

{{course.credits | creditLabel}}

</p>

<div [ngSwitch]="course.gradeStatus">

<span
*ngSwitchCase="'passed'"
class="passed">

Passed

</span>

<span
*ngSwitchCase="'failed'"
class="failed">

Failed

</span>

<span
*ngSwitchCase="'pending'"
class="pending">

Pending

</span>

</div>

<br>

<button
(click)="enroll()">

Enroll

</button>

<button
(click)="toggleDetails()">

Show Details

</button>

<div *ngIf="isExpanded">

<hr>

<p>

This course contains assignments,
quizzes and assessments.

</p>

</div>

</div>